<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3>User Details</h3>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">NAME: Raj Sinha</li>
            <li class="list-group-item">NAME: Raj Sinha</li>
            <li class="list-group-item">NAME: Raj Sinha</li>
            <li class="list-group-item">NAME: Raj Sinha</li>
            <li class="list-group-item">NAME: Raj Sinha</li>
            <li class="list-group-item">NAME: Raj Sinha</li>
            <li class="list-group-item">NAME: Raj Sinha</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
