<div class="landing-page">
  <div class="wrapper">
    <div
      class="
        d-flex
        flex-column
        justify-content-center
        align-items-center
        text-center
        h-100
        text-white
      "
    >
      <p class="h3">Welcome to Angular</p>
      <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit autem
        ex rem molestias consequuntur, magnam veniam omnis corporis dicta
        voluptatem natus ipsa perspiciatis quos rerum explicabo debitis
        doloremque aut labore.
      </p>
    </div>
  </div>
</div>
